SchoolLibraryAPI/SchoolLibraryAPI.Core/obj
SchoolLibraryAPI/SchoolLibraryAPI.DAL/bin
SchoolLibraryAPI/SchoolLibraryAPI.Common/bin
SchoolLibraryAPI/SchoolLibraryAPI.Common/obj
SchoolLibraryAPI/SchoolLibraryAPI.Core/bin
SchoolLibraryAPI/SchoolLibraryAPI.DAL/obj
SchoolLibraryAPI/SchoolLibraryAPI/bin
SchoolLibraryAPI/SchoolLibraryAPI/obj
LibraryDB.db
